@page
@model Herramientas_de_programacion.Pages.GameListModel
@{
}

<h2>Lista de Principales Video Juegos</h2>

<ol>
@foreach(var game in Model.Games)
{
    <li>@game.Name</li>
}
</ol>


<form method="post">
  <div class="mb-3">
    <label asp-for="NewGame.Name" class="form-label"></label>
    <input class="form-control" asp-for="NewGame.Name">
  </div>
  <div class="mb-3">
    <label asp-for="NewGame.Year" class="form-label"></label>
    <input class="form-control" asp-for="NewGame.Year">
  </div>
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>