@page
@model PrivacyModel
@{
    ViewData["Title"] = "Strategia 360";
    ViewData["Subtitle"] = "Términos y Condiciones de nuestros servicio";
    
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["Subtitle"]</p>

<partial name="_Accordion"/>

